/* stlying for Home.js */
.ant-carousel .slick-slide {
	text-align: center;
	height: 260px;
	line-height: 160px;
	background-color: #353b48;
	overflow: hidden;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-top: 25px;
}

.ant-carousel .slick-dots li button {
	background: #7f8fa6;
	opacity: 0.4;
}

.ant-carousel .slick-dots li.slick-active button {
	opacity: 1;
	background: #40739e;
}

.title {
	text-align: center;
	margin: auto;
}

.home-content {
	padding-right: 15%;
	padding-left: 15%;
}

.gray-back {
	border: 1px solid blueviolet;
	/* margin: 5px; */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* CoffeeList.js */

.ant-btn {
	background: #40739e;
	border-color: #487eb0;
	color: white;
}

.ant-btn:hover,
.ant-btn:focus {
	color: white;
	background: #0097e6;
	border-color: #00a8ff;
}
