/* stlying for Home.js */
.ant-carousel .slick-slide {
	text-align: center;
	height: 260px;
	line-height: 160px;
	background-color: #353b48;
	overflow: hidden;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-top: 25px;
}

.ant-carousel .slick-dots li button {
	background: #7f8fa6;
	opacity: 0.4;
}

.ant-carousel .slick-dots li.slick-active button {
	opacity: 1;
	background: #40739e;
}

/* CoffeeList.js */

.ant-btn {
	background: #40739e;
	border-color: #487eb0;
	color: white;
}

.ant-btn:hover,
.ant-btn:focus {
	color: white;
	background: #0097e6;
	border-color: #00a8ff;
}
