$nav-background-color: #a76a4c;
$nav-text-color: peachpuff;

.navbar-custom {
	background-color: $nav-background-color;

	.navbar-brand {
		color: $nav-text-color;
	}
	.navbar-nav {
		.nav-item {
			color: $nav-text-color;
			margin: auto;
			.nav-link {
				color: $nav-text-color;
			}
		}
	}
	.right {
		float: right;
	}
}
